# SPDX-License-Identifier: MIT
# Copyright (c) 2025 DagIR contributors

BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true

